/* ++++++++++++++++++++++++++++++ */
/* HEADER SECTION */
/* ++++++++++++++++++++++++++++++ */

.header {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);

  padding: 0px 4.8rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-tertiary);
}

.icon-logo {
  width: 3.6rem;
  height: 3.6rem;
  color: var(--color--logo-icon-primary);
}

.main-nav {
  display: flex;
  gap: 2.4rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  list-style: none;
  border-bottom: 0.4rem solid var(--color--logo-icon-primary);
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-tertiary);
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--color-font-secondary);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: var(--color-tertiary);
  color: var(--color-font-primary);
  padding: 1.2rem 1.8rem;
  border-radius: 12px;
  transition: all 0.3s;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--color-hover-primary);
  color: var(--color-font-tertiary);
}

/* ++++++++++++++++++++++++++++++ */
/* HERO SECTION */
/* ++++++++++++++++++++++++++++++ */

.section-hero {
  padding: 4.8rem 0 3.2rem 0;
  background-color: var(--color-secondary);
  color: var(--color-font-primary);
}

.hero {
  max-width: 130rem;
  /* center hero section*/
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-img {
  width: 100%;
  border-radius: 24px;
  box-shadow: var(--shadow--primary);
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  margin-bottom: 3.2rem;
}

.hero-description:last-child {
  margin-bottom: 4.8rem;
}

/* ++++++++++++++++++++++++++++++ */
/* HEADER SECTION */
/* ++++++++++++++++++++++++++++++ */

.section-essentials {
  padding: 4.8rem 0 3.2rem 0;
}

.essential-text-box {
  max-width: 70rem;
  min-height: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 2.4rem;
  background-color: var(--color-secondary-tint);

  border-radius: 24px;
}

.essential-heading {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

.essential-icon {
  color: var(--color--logo-icon-primary);
  width: 3.6rem;
  height: 3.6rem;
  padding: 1.2rem;
  background-color: #fff;
  border-radius: 50%;
}

.essential-description {
  font-size: 1.8rem;
  margin-bottom: 3.6rem;
}

.essential-img-box {
  min-width: 37rem;
  max-width: fit-content;
}

.essential-img {
  display: block;
  width: 100%;
  border-radius: 24px;
  box-shadow: var(--shadow--primary);
}

/* ++++++++++++++++++++++++++++++ */
/* GALLERY SECTION */
/* ++++++++++++++++++++++++++++++ */

.section-gallery {
  padding: 4.8rem 0 3.2rem 0;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.gallery-img-block {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.75fr 0.75fr;
}

.border-radius--left {
  overflow: hidden;
  border-radius: 24px 0 0 24px;
}

.border-radius--right {
  overflow: hidden;
  border-radius: 0 24px 24px 0;
}
.img-pos--top--wide {
  grid-column: 1 / -1;
}
.img-pos--bottom--wide {
  grid-column: 1 / -1;
}

.gallery-img-block img {
  width: 100%;
}

/* ++++++++++++++++++++++++++++++ */
/* TESTIMONIAL SECTION */
/* ++++++++++++++++++++++++++++++ */

.section-testimonials {
  padding: 4.8rem 0 3.2rem 0;
  background-color: var(--color-secondary);
}

.testimonial-img {
  height: 20rem;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.testimonial-text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 3.2rem;
  color: var(--color-font-quaternary);
}
.testimonial-author {
  font-size: 1.4rem;
  color: var(--color-font-quaternary);
}
.testimonial-job {
  font-size: 1.2rem;
  color: var(--color-font-quaternary);
}

/* ++++++++++++++++++++++++++++++ */
/* PRICING SECTION */
/* ++++++++++++++++++++++++++++++ */

.section-pricing {
  padding: 4.8rem 0 8rem 0;
}

.pricing-option {
  padding: 4.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* background-color: var(--color-secondary-tint); */
  border-radius: 24px;
}

.pricing-header {
  text-align: center;
}

.pricing-title {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-primary);
  margin-bottom: 1.8rem;
}
.pricing-cost {
  font-size: 5.2rem;
  font-weight: 700;
  color: var(--color-font-primary);
  margin-bottom: 1.6rem;
}
.pricing-text {
  font-size: 1.8rem;
  color: var(--color-primary);
}

/* ++++++++++++++++++++++++++++++ */
/* FOOTER SECTION */
/* ++++++++++++++++++++++++++++++ */

.footer {
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 4.8rem;
  background-color: var(--color-primary);
}

.footer-nav {
  display: flex;
  gap: 4.8rem;
}

.sub-nav-title {
  font-size: 1.8rem;
  color: var(--color-font-tertiary);
  margin-bottom: 0.8rem;
}
.sub-nav-list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  list-style: none;
  color: var(--color-font-tertiary);
}
.sub-nav-link:link,
.sub-nav-link:visited {
  font-size: 1.2rem;
  color: var(--color-font-tertiary);
  text-decoration: none;
}

.sub-nav-icon {
  width: 2.4rem;
  height: 2.4rem;
}
