/* Global Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px */
  /* 10px / 16px = 0.625 = 62.5 %*/
  /* Perventage of user's browser font-size setting */

  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
}

img {
  transition: filter 0.5s;
}

/* +++++++++++++++++++++++++++++++++ */
/* CSS EFFECTS  */
/* +++++++++++++++++++++++++++++++++ */

.section-effect {
  transition: transform 1s, opacity 1s !important;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.slide-in-effect {
  transition: transform 1s, opacity 1s;
}

.slide-in--hidden {
  opacity: 0;
  transform: translateX(8rem);
}

.slide-in--hidden--right {
  opacity: 0;
  transform: translateX(8rem);
}

.slide-in--hidden--left {
  opacity: 0;
  transform: translateX(-8rem);
}

.lazy-img {
  filter: blur(2px);
}

.lazy-img--section {
  filter: blur(2px);
}

@keyframes append-animate {
  0% {
    opacity: 0;
    filter: blur(2px);
  }
  50% {
    filter: blur(1px);
  }
  100% {
    opacity: 1;
    filter: blur(0.25px);
  }
}

.new-element--slow {
  animation: append-animate 1s ease-in-out;
}

.new-element--fast {
  animation: append-animate 0.3s ease-in-out;
}

.jiggle-effect:hover {
  animation: jiggle 1.5s cubic-bezier(0.36, 0.07, 0.19, 0.97);
  transform-origin: center;
}

@keyframes jiggle {
  0% {
    transform: rotateZ(0);
  }
  10% {
    transform: rotateZ(-1deg);
  }
  20% {
    transform: rotateZ(1deg);
  }
  30% {
    transform: rotateZ(-1deg);
  }
  40% {
    transform: rotateZ(1deg);
  }
  50% {
    transform: rotateZ(-1deg);
  }
  60% {
    transform: rotateZ(1deg);
  }
  70% {
    transform: rotateZ(-1deg);
  }
  80% {
    transform: rotateZ(1deg);
  }
  90% {
    transform: rotateZ(-1deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

/* +++++++++++++++++++++++++++++++++ */
/* GENERAL RESUABLE COMPONENTS */
/* +++++++++++++++++++++++++++++++++ */

.logo:link,
.logo:visited {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #dadddf;
  transition: all 0.6s;
}

.logo:hover,
.logo:active {
  color: #e63946;
}

.icon-logo {
  width: 3.6rem;
  height: 3.6rem;
  color: #e63946;
  transition: all 0.9s;
}

.logo:hover .icon-logo,
.logo:active .icon-log {
  color: #dadddf;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #292e37;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 6.2rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.1;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #4a6382;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.text--dark-blue {
  color: #070a0d;
}

.shadow--light {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04) !important;
}

.btn:link,
.btn:visited {
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 12px;
  padding: 1.6rem 8rem;
  transition: all 0.4s;
}

.btn--full:link,
.btn--full:visited {
  text-transform: uppercase;
  background-color: #dbe0e6;
  color: #070a0d;
  box-shadow: 0px 2px 4px 0px rgba(14, 30, 37, 0.12),
    0px 2px 16px 0px rgba(14, 30, 37, 0.32);
  transition: all 0.3s;
}

.btn--full:hover,
.btn--full:active {
  background-color: #070a0d;
  color: #dadddf;
}

.container {
  max-width: 120rem;
  /* centered */
  margin: 0 auto;
  /* Left spacing */
  padding: 0 3.2rem;
}

.center-text {
  text-align: center;
}

.margin-bottom--sm {
  margin-bottom: 4.8rem !important;
}
.margin--no {
  margin: 0 !important;
}

.padding--no {
  padding: 0 !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.flex--col {
  display: flex;
  flex-direction: column;
  gap: 9.6rem;
}

.flex--row {
  display: flex;
  gap: 6.4rem;
}

.flex-center {
  align-items: center;
  justify-items: center;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--1-col {
  grid-template-columns: 1fr;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--6-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid-center {
  justify-items: center;
}

.text-underline-red {
  text-decoration: underline solid #e63946;
}

.text-red {
  color: #e63946;
}

.img-border {
  padding: 1rem;
  border: 0.5rem dashed #e63946;
  border-radius: 34px;
}

.border-blue {
  padding: 1rem;
  border: 0.5rem dashed #899ab8;
  border-radius: 34px;
}

.border-light {
  padding: 1rem;
  border: 0.5rem dashed #c4cddc;
  border-radius: 34px;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.list--row {
  flex-direction: row !important;
  flex-wrap: wrap;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 2rem;
}

.list-item ion-icon {
  width: 3rem;
  height: 3rem;
  color: #e63946;
}

.link:link,
.link:visited {
  width: fit-content;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: #070a0d;
  border-bottom: 2px solid #070a0d;

  transition: all 0.3s;
}

.link:hover,
.link:active {
  border-bottom: 2px solid transparent;
}

/* CAROUSEL */

.carousel {
  width: 90rem;
  margin: 10rem auto;
  background-color: #4a6382;
  padding: 3.2rem 4.8rem 3.2rem 8.6rem;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8.6rem;
}

.btn--carousel {
  background-color: #dadddf;
  border: none;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  position: absolute;
  /* a nice way to center a svg in a button or something*/
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  transition: all 0.3s;
}

.btn--carousel:hover {
  background-color: #e63946 !important;
}

.btn--carousel--right {
  right: 0;
  /* align center trick*/
  top: 50%;
  transform: translate(50%, -50%);
}

.carousel-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #070a0d;
}
.btn--carousel--left {
  /* In relation to Parent Element*/
  left: 0;
  /* align center trick*/
  top: 50%;
  /* In relation to Element itself*/
  transform: translate(-50%, -50%);
}

.dots {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 12px;

  bottom: 0;
  left: 50%;
  transform: translate(-50%, 32px);
}
.dot {
  height: 1.2rem;
  width: 1.2rem;
  background-color: #fff;
  border: 2px solid #e63946;
  border-radius: 50%;
  cursor: pointer;
}

.dot--fill {
  background-color: #e63946;
}
