@import './variables.css';
/* ++++++++++++++++++++++++++++++ */
/* ABOUT SECTION */
/* ++++++++++++++++++++++++++++++ */
.section-about {
  padding: 4.8rem 0 9.6rem 0;
  background: var(--linear-gradient-primary--top);
}

.about {
  max-width: 130rem;
  /* center hero section*/
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.about-imgs--wrap {
  flex-wrap: wrap;
}

.about-imgs-flex {
  display: flex;
  flex-wrap: wrap;
  border-radius: 24px;
  box-shadow: var(--shadow--primary);
  overflow: hidden;
}

.about-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img {
  width: 100%;
  border-radius: 24px;
  box-shadow: var(--shadow--primary);
}

.about-boost {
  font-size: 3rem;
  margin-bottom: 3.2rem;
  color: var(--color-font--heading-primary);
}

.about-description {
  font-size: 2.4rem;
  line-height: 1.5;
}

/* ++++++++++++++++++++++++++++++ */
/* BANNER SECTION */
/* ++++++++++++++++++++++++++++++ */

.banner-img {
  width: 100%;
  box-shadow: var(--shadow--primary);
}
/* ++++++++++++++++++++++++++++++ */
/* HOW IT WORKS SECTION */
/* ++++++++++++++++++++++++++++++ */

.section-how {
  padding: 9.6rem 0;
}

.grid--steps {
  grid-template-columns: 3fr 2fr;
}

.step-number {
  font-size: 6.4rem;
  font-weight: 600;
  color: var(--color-quaternary);
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-note {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.step-note strong {
  color: var(--color-quaternary);
}

.step-img-box {
  display: flex;
  align-items: center;
}

.step-img {
  border-radius: 24px;
  width: 100%;
}

/* ++++++++++++++++++++++++++++++ */
/* LOCATION SECTION */
/* ++++++++++++++++++++++++++++++ */
.section-location {
  padding: 4.8rem 0 9.6rem 0;
  background-color: var(--color-secondary-tint);
}

.location-info {
  font-size: 1.8rem;
  line-height: 1.5;
}

.location-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-img {
  width: 100%;
  border-radius: 24px;
  box-shadow: var(--shadow--primary);
}

/* ++++++++++++++++++++++++++++++ */
/* Memory SECTION */
/* ++++++++++++++++++++++++++++++ */
.section-memory {
  padding: 4.8rem 0 12.8rem 0;
  background-color: var(--color-secondary-tint);
  background: var(--linear-gradient-primary--bottom);
}

.grid-memory {
  display: grid;
  border-radius: 24px;
  overflow: hidden;
  gap: 1rem;
}

.grid-memory img {
  display: block;
  box-shadow: var(--shadow-tertiary);
  width: 100%;
}
