@import './variables.css';
/* ++++++++++++++++++++++++++++++ */
/* activities SECTION */
/* ++++++++++++++++++++++++++++++ */
.section-activities {
  padding: 4.8rem 0 12.8rem 0;
}

.activity-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.activity-box-inner {
  width: 80%;
  height: 100%;
  box-shadow: var(--shadow--primary);
  border-radius: 24px;
  overflow: hidden;
  /* transition: box-shadow 0.3s; */
}

.activity-box-inner:hover {
  box-shadow: var(--shadow--secondary);
}

.activity-img-box {
  overflow: hidden;
}

.activity-img {
  display: block;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

.activity-box-inner:hover .activity-img {
  transform: scale(1.1);
}

.activity-grid {
  display: grid;
  column-gap: 3.2rem;
  row-gap: 9.6rem;
}

.activity-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 3.2rem;
}
.activity-name {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  color: var(--color-primary);
  margin-bottom: 2.4rem;
}

.activity-info {
  font-size: 1.8rem;
}
