/* ++++++++++++++++++++++++++++++ */
/* NON-ALCOHLIC SECTION */
/* ++++++++++++++++++++++++++++++ */
.section-non-alcohlic {
  padding: 4.8rem 0 9.6rem 0;
}

/* ++++++++++++++++++++++++++++++ */
/* Water SECTION */
/* ++++++++++++++++++++++++++++++ */

.section-water {
  border-top: 0.5rem dashed rgba(230, 57, 70, 0.4);
  padding: 9.6rem 0 4.8rem 0;
  background-color: #f3f5f8;
}

.water-box {
  min-height: 37.5rem;
  background: var(--linear-gradient-primary--right);
  border-radius: 24px;
  overflow: hidden;
}
.water-img-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.water-img {
  width: 110%;
  height: 110%;
}

.water-heading {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
  margin-right: auto;
}

.water-icon {
  color: var(--color--logo-icon-primary);
  width: 3rem;
  height: 3rem;
  padding: 1.2rem;
  background-color: var(--color--logo-icon-secondary);
  border-radius: 50%;
}

.water-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.4rem 0 2.4rem 3rem;
}

.water-header {
  color: var(--color-font--heading-secondary);
  font-size: 3rem;
  font-weight: 600;
}

.water-info {
  font-size: 1.8rem;
  line-height: 1.5;
}

/* ++++++++++++++++++++++++++++++ */
/* COFFEE SECTION */
/* ++++++++++++++++++++++++++++++ */

.section-coffee {
  border-bottom: 0.5rem dashed rgba(230, 57, 70, 0.4);
  padding: 4.8rem 0 9.6rem 0;
  background-color: #f3f5f8;
}

.coffee-box {
  min-height: 38.5rem;
  background: var(--linear-gradient-primary--left);
  border-radius: 24px;
  overflow: hidden;
}

.coffee-img-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.coffee-img {
  width: 110%;
  height: 110%;
}

.coffee-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.4rem 3rem 2.4rem 0;
}

.coffee-heading {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
  margin-right: auto;
}

.coffee-icon {
  color: var(--color--logo-icon-primary);
  width: 3rem;
  height: 3rem;
  padding: 1.2rem;
  background-color: var(--color--logo-icon-secondary);
  border-radius: 50%;
}

.coffee-header {
  color: var(--color-font--heading-secondary);
  font-size: 3rem;
  font-weight: 600;
}

.coffee-info {
  font-size: 1.8rem;
  line-height: 1.5;
}

/* ++++++++++++++++++++++++++++++ */
/* ALCOHLIC SECTION */
/* ++++++++++++++++++++++++++++++ */
.section-alcohlic {
  padding: 4.8rem 0 12.8rem 0;
}

.alcohlic-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.4rem;
  border-radius: 24px;
}

.alcohlic-heading {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
}

.alcohlic-icon {
  color: var(--color--logo-icon-primary);
  width: 3rem;
  height: 3rem;
  padding: 1.2rem;
  background-color: var(--color--logo-icon-secondary);
  border-radius: 50%;
}

.alcolic-header {
  font-size: 2.4rem;
  font-weight: 500;
}

.alcohlic-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  font-size: 2rem;
  font-weight: 400;
}

.alcohlic-img {
  width: 100%;
  border-radius: 24px;
  box-shadow: var(--shadow--primary);
}

.alcohlic-warning {
  margin-top: 6.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-quaternary);
}

.drink-choices {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 9.6rem;
  color: var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
}

.drink-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drink-box-inner {
  width: 80%;

  box-shadow: var(--shadow--primary);
  border-radius: 24px;
  overflow: hidden;
}

.drink-img {
  display: block;
  width: 100%;
}

.drink-grid {
  display: grid;
  column-gap: 3.2rem;
}

.drink-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 3.2rem;
}
.drink-name {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.drink-info {
  font-size: 1.8rem;
}
