/* rem and em do NOT depend on html font-size in media queries! */

/* 1 rem = 1em = 16px */

/* +++++++++++++++++++++++++++++++++ */
/* ABOVE 2000px ULTRA WIDE */
/* +++++++++++++++++++++++++++++++++ */

@media (min-width: 125em) {
  .header {
    justify-content: space-around;
  }
}

/* +++++++++++++++++++++++++++++++++ */
/* BELOW 1344px (Smaller Desktops) */
/* +++++++++++++++++++++++++++++++++ */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }
}

/* +++++++++++++++++++++++++++++++++ */
/* BELOW 1200px (Landscape Tablets) */
/* +++++++++++++++++++++++++++++++++ */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }

  .team-box {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4.8rem;
    justify-items: center;
  }

  .grid-memory {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* +++++++++++++++++++++++++++++++++ */
/* BELOW 944px (Tablets) */
/* +++++++++++++++++++++++++++++++++ */

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .header {
    padding: 0px 3.2rem;
  }

  .container {
    padding: 0 4.8rem;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box {
    text-align: center;
  }

  .hero-img-box {
    text-align: center;
  }
  .hero-img {
    width: 60%;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .section-princing .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .pricing-box {
    grid-template-columns: repeat(2, 1fr);
  }

  .pricing-box .pricing-option:last-child {
    grid-column: 1/-1;
  }

  .feature-box {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .feature-box .feature:last-child {
    grid-column: 1/-1;
    width: 50%;
  }

  .snacks-box {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* +++++++++++++++++++++++++++++++++ */
/* BELOW 800px  */
/* +++++++++++++++++++++++++++++++++ */

@media (max-width: 50em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 43.75%;
  }

  .step-number {
    font-size: 6.2rem;
  }

  .step-img-box {
    align-items: flex-end;
  }

  .boxes-name {
    text-align: center;
  }

  .team-box {
    grid-template-columns: 1fr;
  }

  .carousel {
    width: 64rem;
  }

  .meal-day-name {
    margin-left: 4.2rem;
  }

  .meals-day-row {
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
    margin-bottom: 0;
  }

  .meal-day-group {
    display: flex;
    justify-content: center;
  }
  .meal-day-group:last-child {
    margin-bottom: 0;
  }

  .meal-titles-box {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .meal-title {
    display: inline-block;
    font-size: 3rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    margin-bottom: 0;
    margin-right: 2rem;
  }

  .meal-title:nth-child(2) {
    margin-bottom: 6rem;
  }
  .meal-title:last-child {
    /* display: block; */
    margin-bottom: 3.2rem;
  }

  .snacks-box {
    grid-template-columns: repeat(3, 1fr);
  }

  .boxes-info {
    font-size: 1.8rem;
  }
}

/*
-FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
